.carousel-container {
  width: 375px;
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-card {
  flex: 0 0 343px;
  /* Ancho de la card central */
  margin: 0 10px;
  /* Espacio entre cards */
  text-align: center;
  position: relative;
  background: #000;
}

.carousel-card.active {
  transform: translateX(0);
  /* Card central sin desplazamiento */
}

.carousel-card.inactive {
  transform: translateX(-100%);
  /* Cards laterales ocultas */
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.carousel-controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
}

.pagination-bullet.active {
  background-color: #333;
  /* Color de la bala activa */
}