@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide ::-webkit-scrollbar {
  display: none;
}

/* Para IE, Edge y Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width   : none;
  /* Firefox */
}